.ticket {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 10px;
}

.parkit{
  padding:5%;
  margin-top: 50%;
}

.logo{
  width: 25px;
  margin-left:4%;
}

.cars{
  width:80%;
}

.check{
  font-size: 40px;
  --ionicon-stroke-width: 60px;
}

.cross{
  font-size: 40px;
  --ionicon-stroke-width: 60px;
}

.card-content-md {
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-card-header{
  padding-bottom:0px;
}

